[user]
	name = Dor Munis
	email = 5811812+dormunis@users.noreply.github.com

[core]
	editor = nvim

[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
	wtr = "!f() { git worktree remove \"../$1\"; }; f"
	wtl = "!f() { git worktree list; }; f"
[merge]
	conflictstyle = diff3
