{
    AlternateMouseScroll = 1;
    AppleAntiAliasingThreshold = 1;
    ApplePressAndHoldEnabled = 0;
    AppleScrollAnimationEnabled = 0;
    AppleSmoothFixedFontsSizeThreshold = 1;
    AppleWindowTabbingMode = manual;
    "Custom Color Presets" =     {
        gruvbox =         {
            "Ansi 0 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1568627506494522";
                "Color Space" = sRGB;
                "Green Component" = "0.1568627506494522";
                "Red Component" = "0.1568627506494522";
            };
            "Ansi 1 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1137254908680916";
                "Color Space" = sRGB;
                "Green Component" = "0.1411764770746231";
                "Red Component" = "0.800000011920929";
            };
            "Ansi 10 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1490196138620377";
                "Color Space" = sRGB;
                "Green Component" = "0.7333333492279053";
                "Red Component" = "0.7215686440467834";
            };
            "Ansi 11 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1843137294054031";
                "Color Space" = sRGB;
                "Green Component" = "0.7411764860153198";
                "Red Component" = "0.9803921580314636";
            };
            "Ansi 12 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5960784554481506";
                "Color Space" = sRGB;
                "Green Component" = "0.6470588445663452";
                "Red Component" = "0.5137255191802979";
            };
            "Ansi 13 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6078431606292725";
                "Color Space" = sRGB;
                "Green Component" = "0.5254902243614197";
                "Red Component" = "0.8274509906768799";
            };
            "Ansi 14 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.4862745106220245";
                "Color Space" = sRGB;
                "Green Component" = "0.7529411911964417";
                "Red Component" = "0.5568627715110779";
            };
            "Ansi 15 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Ansi 2 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1019607856869698";
                "Color Space" = sRGB;
                "Green Component" = "0.5921568870544434";
                "Red Component" = "0.5960784554481506";
            };
            "Ansi 3 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1294117718935013";
                "Color Space" = sRGB;
                "Green Component" = "0.6000000238418579";
                "Red Component" = "0.843137264251709";
            };
            "Ansi 4 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5333333611488342";
                "Color Space" = sRGB;
                "Green Component" = "0.5215686559677124";
                "Red Component" = "0.2705882489681244";
            };
            "Ansi 5 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5254902243614197";
                "Color Space" = sRGB;
                "Green Component" = "0.3843137323856354";
                "Red Component" = "0.6941176652908325";
            };
            "Ansi 6 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.4156862795352936";
                "Color Space" = sRGB;
                "Green Component" = "0.615686297416687";
                "Red Component" = "0.407843142747879";
            };
            "Ansi 7 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5176470875740051";
                "Color Space" = sRGB;
                "Green Component" = "0.6000000238418579";
                "Red Component" = "0.658823549747467";
            };
            "Ansi 8 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.4549019634723663";
                "Color Space" = sRGB;
                "Green Component" = "0.5137255191802979";
                "Red Component" = "0.572549045085907";
            };
            "Ansi 9 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.2039215713739395";
                "Color Space" = sRGB;
                "Green Component" = "0.2862745225429535";
                "Red Component" = "0.9843137264251709";
            };
            "Background Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1568627506494522";
                "Color Space" = sRGB;
                "Green Component" = "0.1568627506494522";
                "Red Component" = "0.1568627506494522";
            };
            "Badge Color" =             {
                "Alpha Component" = "0.5";
                "Blue Component" = "0.05490830540657043";
                "Color Space" = sRGB;
                "Green Component" = "0.3646928071975708";
                "Red Component" = "0.839212954044342";
            };
            "Bold Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Cursor Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Cursor Guide Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.2117629945278168";
                "Color Space" = sRGB;
                "Green Component" = "0.2196027040481567";
                "Red Component" = "0.2352949380874634";
            };
            "Cursor Text Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1568627506494522";
                "Color Space" = sRGB;
                "Green Component" = "0.1568627506494522";
                "Red Component" = "0.1568627506494522";
            };
            "Foreground Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Link Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.05490830540657043";
                "Color Space" = sRGB;
                "Green Component" = "0.3646928071975708";
                "Red Component" = "0.839212954044342";
            };
            "Selected Text Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Selection Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.3294117748737335";
                "Color Space" = sRGB;
                "Green Component" = "0.3607843220233917";
                "Red Component" = "0.4000000059604645";
            };
            "Tab Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.105882354080677";
                "Color Space" = sRGB;
                "Green Component" = "0.105882354080677";
                "Red Component" = "0.105882354080677";
            };
        };
    };
    DisableWindowSizeSnap = 1;
    HapticFeedbackForEsc = 0;
    HotkeyMigratedFromSingleToMulti = 1;
    NSNavPanelExpandedSizeForOpenMode = "{800, 448}";
    NSOverlayScrollersFallBackForAccessoryViews = 0;
    NSQuotedKeystrokeBinding = "";
    NSRepeatCountBinding = "";
    NSScrollAnimationEnabled = 0;
    NSScrollViewShouldScrollUnderTitlebar = 0;
    "NSWindow Frame NSColorPanel" = "0 122 224 278 0 0 1680 1025 ";
    "NSWindow Frame NSNavPanelAutosaveName" = "320 339 800 448 0 0 1440 900 ";
    "NSWindow Frame iTerm Window 0" = "2 2 836 1022 0 0 1680 1025 ";
    "NSWindow Frame iTerm Window 1" = "842 2 836 1022 0 0 1680 1025 ";
    "NSWindow Frame iTerm Window 2" = "1282 714 1276 708 0 0 3840 2135 ";
    "NSWindow Frame iTerm Window 3" = "1282 2 1276 1064 0 0 3840 2135 ";
    "NSWindow Frame iTerm Window 4" = "1282 714 1276 708 0 0 3840 2135 ";
    "New Bookmarks" =     (
                {
            "ASCII Anti Aliased" = 1;
            "Ambiguous Double Width" = 0;
            "Ansi 0 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1568627506494522";
                "Color Space" = sRGB;
                "Green Component" = "0.1568627506494522";
                "Red Component" = "0.1568627506494522";
            };
            "Ansi 1 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1137254908680916";
                "Color Space" = sRGB;
                "Green Component" = "0.1411764770746231";
                "Red Component" = "0.800000011920929";
            };
            "Ansi 10 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1490196138620377";
                "Color Space" = sRGB;
                "Green Component" = "0.7333333492279053";
                "Red Component" = "0.7215686440467834";
            };
            "Ansi 11 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1843137294054031";
                "Color Space" = sRGB;
                "Green Component" = "0.7411764860153198";
                "Red Component" = "0.9803921580314636";
            };
            "Ansi 12 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5960784554481506";
                "Color Space" = sRGB;
                "Green Component" = "0.6470588445663452";
                "Red Component" = "0.5137255191802979";
            };
            "Ansi 13 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6078431606292725";
                "Color Space" = sRGB;
                "Green Component" = "0.5254902243614197";
                "Red Component" = "0.8274509906768799";
            };
            "Ansi 14 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.4862745106220245";
                "Color Space" = sRGB;
                "Green Component" = "0.7529411911964417";
                "Red Component" = "0.5568627715110779";
            };
            "Ansi 15 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Ansi 2 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1019607856869698";
                "Color Space" = sRGB;
                "Green Component" = "0.5921568870544434";
                "Red Component" = "0.5960784554481506";
            };
            "Ansi 3 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1294117718935013";
                "Color Space" = sRGB;
                "Green Component" = "0.6000000238418579";
                "Red Component" = "0.843137264251709";
            };
            "Ansi 4 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5333333611488342";
                "Color Space" = sRGB;
                "Green Component" = "0.5215686559677124";
                "Red Component" = "0.2705882489681244";
            };
            "Ansi 5 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5254902243614197";
                "Color Space" = sRGB;
                "Green Component" = "0.3843137323856354";
                "Red Component" = "0.6941176652908325";
            };
            "Ansi 6 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.4156862795352936";
                "Color Space" = sRGB;
                "Green Component" = "0.615686297416687";
                "Red Component" = "0.407843142747879";
            };
            "Ansi 7 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.5176470875740051";
                "Color Space" = sRGB;
                "Green Component" = "0.6000000238418579";
                "Red Component" = "0.658823549747467";
            };
            "Ansi 8 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.4549019634723663";
                "Color Space" = sRGB;
                "Green Component" = "0.5137255191802979";
                "Red Component" = "0.572549045085907";
            };
            "Ansi 9 Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.2039215713739395";
                "Color Space" = sRGB;
                "Green Component" = "0.2862745225429535";
                "Red Component" = "0.9843137264251709";
            };
            "BM Growl" = 1;
            "Background Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1568627506494522";
                "Color Space" = sRGB;
                "Green Component" = "0.1568627506494522";
                "Red Component" = "0.1568627506494522";
            };
            "Background Image Location" = "";
            "Badge Color" =             {
                "Alpha Component" = "0.5";
                "Blue Component" = "0.05490830540657043";
                "Color Space" = sRGB;
                "Green Component" = "0.3646928071975708";
                "Red Component" = "0.839212954044342";
            };
            "Blinking Cursor" = 0;
            Blur = 0;
            "Bold Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Character Encoding" = 4;
            "Close Sessions On End" = 1;
            Columns = 80;
            Command = "";
            "Cursor Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Cursor Guide Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.2117629945278168";
                "Color Space" = sRGB;
                "Green Component" = "0.2196027040481567";
                "Red Component" = "0.2352949380874634";
            };
            "Cursor Text Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.1568627506494522";
                "Color Space" = sRGB;
                "Green Component" = "0.1568627506494522";
                "Red Component" = "0.1568627506494522";
            };
            "Custom Command" = No;
            "Custom Directory" = Recycle;
            "Default Bookmark" = No;
            Description = Default;
            "Disable Window Resizing" = 1;
            "Flashing Bell" = 0;
            "Foreground Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            Guid = "3E824E5B-8D85-4BC2-9D66-5705BC56F8F6";
            "Horizontal Spacing" = 1;
            "Idle Code" = 0;
            "Jobs to Ignore" =             (
                rlogin,
                ssh,
                slogin,
                telnet
            );
            "Keyboard Map" =             {
                "0x2a-0x200000-0x0" =                 {
                    Action = 12;
                    Text = "*";
                };
                "0x2b-0x200000-0x0" =                 {
                    Action = 12;
                    Text = "+";
                };
                "0x2d-0x200000-0x0" =                 {
                    Action = 12;
                    Text = "-";
                };
                "0x2d-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x1f;
                };
                "0x2e-0x200000-0x0" =                 {
                    Action = 12;
                    Text = ".";
                };
                "0x2f-0x200000-0x0" =                 {
                    Action = 12;
                    Text = "/";
                };
                "0x3-0x200000-0x0" =                 {
                    Action = 11;
                    Text = 0xd;
                };
                "0x30-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 0;
                };
                "0x31-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 1;
                };
                "0x32-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 2;
                };
                "0x32-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x00;
                };
                "0x33-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 3;
                };
                "0x33-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x1b;
                };
                "0x34-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 4;
                };
                "0x34-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x1c;
                };
                "0x35-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 5;
                };
                "0x35-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x1d;
                };
                "0x36-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 6;
                };
                "0x36-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x1e;
                };
                "0x37-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 7;
                };
                "0x37-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x1f;
                };
                "0x38-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 8;
                };
                "0x38-0x40000-0x0" =                 {
                    Action = 11;
                    Text = 0x7f;
                };
                "0x39-0x200000-0x0" =                 {
                    Action = 12;
                    Text = 9;
                };
                "0x7f-0x100000-0x0" =                 {
                    Action = 11;
                    Text = 0x15;
                };
                "0x7f-0x80000-0x0" =                 {
                    Action = 11;
                    Text = "0x1b 0x7f";
                };
                "0xf700-0x220000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2A";
                };
                "0xf700-0x240000-0x0" =                 {
                    Action = 10;
                    Text = "[1;5A";
                };
                "0xf700-0x260000-0x0" =                 {
                    Action = 10;
                    Text = "[1;6A";
                };
                "0xf701-0x220000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2B";
                };
                "0xf701-0x240000-0x0" =                 {
                    Action = 10;
                    Text = "[1;5B";
                };
                "0xf701-0x260000-0x0" =                 {
                    Action = 10;
                    Text = "[1;6B";
                };
                "0xf702-0x220000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2D";
                };
                "0xf702-0x240000-0x0" =                 {
                    Action = 10;
                    Text = "[1;5D";
                };
                "0xf702-0x260000-0x0" =                 {
                    Action = 10;
                    Text = "[1;6D";
                };
                "0xf702-0x280000-0x0" =                 {
                    Action = 10;
                    Text = b;
                };
                "0xf702-0x300000-0x0" =                 {
                    Action = 11;
                    Text = 0x1;
                };
                "0xf703-0x220000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2C";
                };
                "0xf703-0x240000-0x0" =                 {
                    Action = 10;
                    Text = "[1;5C";
                };
                "0xf703-0x260000-0x0" =                 {
                    Action = 10;
                    Text = "[1;6C";
                };
                "0xf703-0x280000-0x0" =                 {
                    Action = 10;
                    Text = f;
                };
                "0xf703-0x300000-0x0" =                 {
                    Action = 11;
                    Text = 0x5;
                };
                "0xf704-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2P";
                };
                "0xf705-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2Q";
                };
                "0xf706-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2R";
                };
                "0xf707-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2S";
                };
                "0xf708-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[15;2~";
                };
                "0xf709-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[17;2~";
                };
                "0xf70a-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[18;2~";
                };
                "0xf70b-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[19;2~";
                };
                "0xf70c-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[20;2~";
                };
                "0xf70d-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[21;2~";
                };
                "0xf70e-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[23;2~";
                };
                "0xf70f-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[24;2~";
                };
                "0xf728-0x0-0x0" =                 {
                    Action = 11;
                    Text = 0x4;
                };
                "0xf728-0x80000-0x0" =                 {
                    Action = 10;
                    Text = d;
                };
                "0xf729-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2H";
                };
                "0xf729-0x40000-0x0" =                 {
                    Action = 10;
                    Text = "[1;5H";
                };
                "0xf72b-0x20000-0x0" =                 {
                    Action = 10;
                    Text = "[1;2F";
                };
                "0xf72b-0x40000-0x0" =                 {
                    Action = 10;
                    Text = "[1;5F";
                };
                "0xf739-0x0-0x0" =                 {
                    Action = 13;
                    Text = "";
                };
            };
            "Link Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.05490830540657043";
                "Color Space" = sRGB;
                "Green Component" = "0.3646928071975708";
                "Red Component" = "0.839212954044342";
            };
            "Mouse Reporting" = 1;
            Name = Default;
            "Non Ascii Font" = "Monaco 12";
            "Non-ASCII Anti Aliased" = 1;
            "Normal Font" = "HackNerdFontCompleteM-Regular 12";
            "Option Key Sends" = 0;
            "Prompt Before Closing 2" = 0;
            "Right Option Key Sends" = 0;
            Rows = 25;
            Screen = "-1";
            "Scrollback Lines" = 1000;
            "Selected Text Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.6980392336845398";
                "Color Space" = sRGB;
                "Green Component" = "0.8588235378265381";
                "Red Component" = "0.9215686321258545";
            };
            "Selection Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.3294117748737335";
                "Color Space" = sRGB;
                "Green Component" = "0.3607843220233917";
                "Red Component" = "0.4000000059604645";
            };
            "Send Code When Idle" = 0;
            Shortcut = "";
            "Silence Bell" = 0;
            "Sync Title" = 0;
            "Tab Color" =             {
                "Alpha Component" = 1;
                "Blue Component" = "0.105882354080677";
                "Color Space" = sRGB;
                "Green Component" = "0.105882354080677";
                "Red Component" = "0.105882354080677";
            };
            Tags =             (
            );
            "Terminal Type" = "xterm-256color";
            Transparency = 0;
            "Unlimited Scrollback" = 0;
            "Use Bold Font" = 1;
            "Use Bright Bold" = 1;
            "Use Italic Font" = 1;
            "Use Non-ASCII Font" = 0;
            "Vertical Spacing" = 1;
            "Visual Bell" = 1;
            "Window Type" = 0;
            "Working Directory" = "/Users/dormunis";
        }
    );
    NoSyncAllAppVersions =     (
        "3.4.19"
    );
    NoSyncBFPRecents =     (
        "Hack Nerd Font Mono",
        Monaco
    );
    "NoSyncFrame_SharedPreferences" =     {
        screenFrame = "{{0, 0}, {1680, 1050}}";
        topLeft = "{378, 764}";
    };
    NoSyncHaveUsedCopyMode = 1;
    NoSyncIgnoreSystemWindowRestoration = 1;
    NoSyncNeverAskAboutMouseReportingFrustration = 1;
    NoSyncPermissionToShowTip = 0;
    NoSyncRecordedVariables =     {
        0 =         (
                        {
                isTerminal = 1;
                name = "";
                nonterminalContext = 0;
            }
        );
        1 =         (
                        {
                isTerminal = 1;
                name = presentationName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxRole;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = lastCommand;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = profileName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = showingAlternateScreen;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = id;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = termid;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = jobName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = columns;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "tab.tmuxWindowTitle";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = processTitle;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxClientName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = hostname;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = selectionLength;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = path;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = triggerName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = parentSession;
                nonterminalContext = 1;
            },
                        {
                isTerminal = 1;
                name = terminalIconName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxWindowPane;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxStatusRight;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = mouseReportingMode;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = name;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = iterm2;
                nonterminalContext = 4;
            },
                        {
                isTerminal = 1;
                name = tmuxPaneTitle;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = rows;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxWindowPaneIndex;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tty;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = autoLogId;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = badge;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = username;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = logFilename;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "tab.tmuxWindowName";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = tab;
                nonterminalContext = 2;
            },
                        {
                isTerminal = 1;
                name = tmuxStatusLeft;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = selection;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = bellCount;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = autoNameFormat;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = autoName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = terminalWindowName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = creationTimeString;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = commandLine;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = jobPid;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = pid;
                nonterminalContext = 0;
            }
        );
        16 =         (
                        {
                isTerminal = 1;
                name = style;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.jobPid";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = frame;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.pid";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.termid";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.terminalIconName";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.terminalWindowName";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = currentTab;
                nonterminalContext = 2;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.processTitle";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.window";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = id;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.name";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = titleOverride;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = number;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.commandLine";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.path";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.hostname";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.bellCount";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.tty";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.username";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = iterm2;
                nonterminalContext = 4;
            },
                        {
                isTerminal = 1;
                name = titleOverrideFormat;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentTab.currentSession.jobName";
                nonterminalContext = 0;
            }
        );
        2 =         (
                        {
                isTerminal = 1;
                name = tmuxWindow;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.terminalWindowName";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.commandLine";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = title;
                nonterminalContext = 1;
            },
                        {
                isTerminal = 1;
                name = title;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxWindowTitle;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.terminalIconName";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.jobPid";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = tmuxWindowName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = window;
                nonterminalContext = 16;
            },
                        {
                isTerminal = 1;
                name = "currentSession.tty";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.jobName";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.name";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.processTitle";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = window;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = id;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = titleOverride;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.username";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.bellCount";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.termid";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = iterm2;
                nonterminalContext = 4;
            },
                        {
                isTerminal = 1;
                name = titleOverrideFormat;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.hostname";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.path";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = "currentSession.pid";
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = currentSession;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 0;
                name = currentSession;
                nonterminalContext = 1;
            }
        );
        4 =         (
                        {
                isTerminal = 1;
                name = pid;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = localhostName;
                nonterminalContext = 0;
            },
                        {
                isTerminal = 1;
                name = effectiveTheme;
                nonterminalContext = 0;
            }
        );
    };
    NoSyncRestoreWindowsCount = 0;
    OpenTmuxWindowsIn = 0;
    PointerActions =     {
        "Button,1,1,," =         {
            Action = kContextMenuPointerAction;
        };
        "Button,2,1,," =         {
            Action = kPasteFromClipboardPointerAction;
        };
        "Gesture,ThreeFingerSwipeDown,," =         {
            Action = kPrevWindowPointerAction;
        };
        "Gesture,ThreeFingerSwipeLeft,," =         {
            Action = kPrevTabPointerAction;
        };
        "Gesture,ThreeFingerSwipeRight,," =         {
            Action = kNextTabPointerAction;
        };
        "Gesture,ThreeFingerSwipeUp,," =         {
            Action = kNextWindowPointerAction;
        };
    };
    SGTRecentFileSearches =     (
                {
            attributes =             (
                kMDItemDisplayName
            );
            enforceStrictMatch = 0;
            exactMatch = 0;
            name = "/Users/dormunis/.config/iterm2/ColorScheme/gruvbox-contrib/iterm2";
            scope = 4;
            type = "com.apple.finder";
            values =             (
                "/Users/dormunis/.config/iterm2/ColorScheme/gruvbox-contrib/iterm2"
            );
        }
    );
    SUEnableAutomaticChecks = 1;
    SUFeedAlternateAppNameKey = iTerm;
    SUFeedURL = "https://iterm2.com/appcasts/final_modern.xml?shard=63";
    SUHasLaunchedBefore = 1;
    SUSendProfileInfo = 0;
    SoundForEsc = 0;
    VisualIndicatorForEsc = 0;
    "findMode_iTerm" = 0;
}
